.git
.gitignore
.env
.env.*
.env.local
node_modules
.next
out
build
dist
coverage
playwright-report
test-results
*.md
Dockerfile
.dockerignore
tests
*.spec.ts
*.spec.tsx
*.test.ts
*.test.tsx
.turbo
.vercel
.netlify
